body{
  margin-bottom: 78px;
}
/*
p {
  font-size: 1.25rem;
}*/




.list-text{
  font-size: 1.25rem;
}

hr {
  border-color: white;
}
.lh-3{
  line-height: 3rem;
}
.lh-2{
  line-height: 2rem;
}

.hidenori-photo{
  background-image: url(../../resorces/images/AdobeStock_170564055.jpg);
}
.hidenori-photo2{
  background-color: #9bccd3;
}


.btn-primary {
  background-color: #066E83;
  border-color: #066E83;
}
.btn-primary:hover{
  background-color: #198306;
  border-color: #198306;
}

/*
.btn{
  font-size: 1.25rem;
}*/
.btn-link{
  color: #066E83;
}

a{
  color: #066E83;
}
a:hover{
  color: ;
  text-decoration: none;
}


.navbar-dark .navbar-nav .nav-link{
  color: white;
}

.text-red{
  color: darkred;
}
.text-red2{
  color: #bd2130;
}
.text-tomato{
  color: #EE3510;
}
.text-teal{
  color: teal;
}
.text-darkgreen2{
  color: #056e83;
}
.text-grey{
  color: grey;
}
.text-grey2{
  color: #495057;
}

.text-grey3{
  color: #212529;
}
.text-dark2{
  color: #4c808e;
}
.text-yellow{
  color: #eead4a;
}

.bg-dark2{
  background-color: #4c808e;
}
.bg-grey{
  background-color: #6c757d;
}
.bg-teal{
  background-color: teal;
}
.bg-white-green{
  background-color: #9bccd3;
}
.bg-yellow{
  background-color: #eead4a;
}
.bg-darkgreen{
  background-color: #066e83;
}


}
.navbar-toggler-icon{
  color: white;
}
.min-300{
  min-width: 290px;
}
.footer-font p{
  font-size: 1rem;
}

.page-item.active .page-link{
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.page-link{
  color: #17a2b8;
}
.text-small{
  font-size: 1rem;
}



.bg-bluegreen{
  background-color: #17a2b8;
}
.bg-darkgreen{
  background-color: #0c5460;
}
.bg-darkgreen2{
  background-color: #577750;
}
.border-bluegreen-thick{
  border: solid;
  border-width: thick;
  border-color: #17a2b8;
}
.bg-tomato{
  background-color: #EE3510;
}

.text-tomato{
  color: #EE3510;
}
.text-yellow{
  color: #ffc107;
}

.text-bluegreen{
  color: #17a2b8;
}
.text-darkgreen{
  color: #0c5460;
}
.text-grey{
  color: #6c757d;
}
.text-grey2{
  color: #495057;
}


a{
  color: #17a2b8
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #0c5460;
}

.navbar-light .navbar-brand{
  color: #17a2b8;
}

.btn-primary{
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-primary:hover{
  background-color: teal;
  border-color: teal;
}
a:hover{
  text-decoration: none;
  color: #17a2b8;
}
.navbar-light .navbar-brand:hover {
    color: #28a745;
}


.footer-font p{
  font-size: 1rem;
}
/*
.procedure-box a{
  color: white;
}
*/
.justline{
  border-right: 0.5rem solid;
  border-color: #0c5460;
  min-height: 3rem;

}
.navbar-dark{
  background-color: rgb(12,12,12,0.6);
}

li{
  margin-left: 18px;
}
